//
//** Demo Config
//

//== Secondary brand color
$m-secondary-brand-color: #db1430;
$m-secondary-brand-inverse-color: #FFF;

//== Layout Shared Settings
$m-aside-left-width: 255px;
$m-aside-left-width-minimize: 78px;
$m-aside-left-offcanvas-width: 255px;