<div>
        <div class="m-content col-md-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon m--hide">
                                                        <i class="la la-gear"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text">
                                                        Thêm user
                                                </h3>
                                        </div>
                                </div>
                        </div>

                        <!--begin::Form-->
                        <form @submit.prevent="validateBeforeSubmit" class="m-form m-form--fit m-form--label-align-right">

                                <div class="m-portlet__body form-row">
                                        <div class="form-group m-form__group col-md-6">
                                                <input  name="email" v-model="email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }"
                                                        type="email" placeholder="Email" class="form-control m-input">
                                                <i v-show="errors.has('email')" class="fa fa-warning"></i>
                                                <span style="color: red" v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                                        </div>
                                        <div class="form-group m-form__group col-md-6">
                                                <label for="name">Name</label>
                                                <input type="text" v-validate="'required'" class="form-control m-input" name="name">
                                                <i v-show="errors.has('name')" class="fa fa-warning"></i>
                                                <span style="color: red" v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
                                        </div>
                                        <div class="form-group m-form__group col-md-6">
                                                <label for="phonenumber">Số điện thoại</label>
                                                <input type="number" v-validate="'required'" class="form-control m-input" name="phonenumber">
                                                <i v-show="errors.has('phonenumber')" class="fa fa-warning"></i>
                                                <span style="color: red" v-show="errors.has('phonenumber')" class="help is-danger">{{ errors.first('phonenumber') }}</span>
                                        </div>
                                        <div class="form-group m-form__group col-md-6">
                                                <label for="language">Trình độ ngoại ngữ</label>
                                                <app-select2 :options="options_multi" v-model="selected_multi" v-validate="'required'" name="language" placeholder="Hãy chọn"
                                                        multiple=true class="form-control m-input"></app-select2>
                                                <i v-show="errors.has('language')" class="fa fa-warning"></i>
                                                <span style="color: red" v-show="errors.has('language')" class="help is-danger">{{ errors.first('language') }}</span>
                                        </div>
                                        <div class="form-group m-form__group col-md-6">
                                                <label for="lever">Trình độ học vấn</label>
                                                <app-select2 :options="options" v-validate="'required'" v-model="selected" name="lever" :class="{'input': true, 'is-danger': errors.has('lever') }"
                                                        placeholder="Hãy chọn" class="form-control m-input"></app-select2>
                                                <i v-show="errors.has('lever')" class="fa fa-warning"></i>
                                                <span style="color: red" v-show="errors.has('lever')" class="help is-danger">{{ errors.first('lever') }}</span>
                                        </div>
                                        <!-- TypeAhead -->
                                        <div class="form-group m-form__group col-md-6">
                                                <label for="">Quốc tịch</label>
                                                <app-type-ahead :source="data_souce" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('country') }"
                                                        name="country" v-model="country"></app-type-ahead>
                                                <i v-show="errors.has('country')" class="fa fa-warning"></i>
                                                <span style="color: red" v-show="errors.has('country')" class="help is-danger">{{ errors.first('country') }}</span>
                                        </div>

                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions m--align-center">
                                                <button type="submit" class="btn btn-warning">submit</button>
                                                <button type="reset" v-on:click="addUser()" class="btn btn-primary">Thêm user</button>
                                                <button type="reset" class="btn btn-secondary">Huỷ</button>
                                        </div>
                                </div>
                        </form>

                        <!--end::Form-->

                </div>

                <!--end::Portlet-->
        </div>
</div>